.honda-button{
  background-color: #E76F51;
  color: white;
  
}

.honda-bg{
  background-color: #264653;
}


/* featured bike section*/
.honda-grayscale{
  filter: grayscale(100%);
}

/* Happy client secton  */
.honda-heading{
  color: #E76F51;
}

.fa-star{
 color: #E76F51;
}
.star{
  text-align: center;
}

/* footer */
.honda-link{
  text-decoration: none;
  color: bisque;
}

.footer-bg{
  background-color: #0B0D17;
}